<html>
    <head>
        <title>karen-chan.com | %(title)s</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
        %(header)s
    </head>
    <body>
        <div id="main">
            <div id="nav">
                <span class="home"><a href="/">karen chan</a></span>
                <span><a href="/games.html">Games</a></span>
                <span><a href="/tools.html">Tools</a></span>
                <span><a href="/slides.html">Slides</a></span>
                <span><a href="/links.html">Links</a></span>
                <span><a class="contact-me" href="/contact.html">Contact Me</a></span>
            </div>
            <div id="content" class="shadow">
                <div class="neko">
                    <h1>%(h1)s</h1>
                    <div id="inner">
                        %(content)s
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
